---
import ShoppingList from '../components/ShoppingList.tsx';
---
<h1 style="text-align: center;">Compras de la semana</h1>
<div style="display: flex; justify-content: center;">
  <ShoppingList client:load />
</div>
