---
import RandomAvatarCard from '../components/RandomAvatarCard.tsx';
import '../styles.css'; // Importa los estilos globales
---

<div class="container">
  <h1 class="title">Random Image</h1>
  <RandomAvatarCard client:load />
</div>


